<!DOCTYPE html>
<html lang="en">
<head>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style type="text/css">

div{
          padding:8px;
      }

  .button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.plus{background-color: #4CAF50; /* Green */}
.minus{background-color: red;}

body{width: 100%;line-height:1.6;font-size:18px;color:#444;background-image:url('static/bg1.jpg')!important;}

  </style>
  
  </head>

  <script type="text/javascript">
  
  $(document).ready(function(){
  
      var counter = 2;
          
      $("#addButton").click(function () {
                     
          
      var newTextBoxDiv = $(document.createElement('div'))
           .attr("id", 'TextBoxDiv' + counter);
                  
      newTextBoxDiv.after().html('<input class="input100" type="text" placeholder="Enter your name" name="textbox' 
            + counter +'" id="textbox' 
            + counter +'" ><br><input type="checkbox" name="interest'
            +counter +'" value="phone_number"><label for="phone_number">Phone Number</label><input type="checkbox" name="interest'
            +counter +'" value="email_personal"><label for="email_personal">Email Personal</label><input type="checkbox" name="interest'
            +counter +'" value="email_institute"><label for="email_institute">Email Institute</label><input type="checkbox" name="interest'
            +counter +'" value="section"><label for="section">Section</label><br><br>');



      
            


              
      newTextBoxDiv.appendTo("#form");

      document.getElementById("number").value = counter
                  
      counter++;
       });
  
       $("#removeButton").click(function () {
      if(counter==1){
            alert("No more textbox to remove");
            return false;
         }   
          
      counter--;
      document.getElementById("number").value = counter -1       
          
          $("#TextBoxDiv" + counter).remove();

              
       });
          
    });
  </script>


	<title>Query Records</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" type="text/css" href="static/util.css">
	<link rel="stylesheet" type="text/css" href="static/main.css">
<!--===============================================================================================-->
</head>
<body>
{% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="box-shadow: none;">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

	<div class="container-contact100" style="background-image:url('static/bg1.jpg')!important;">
		<div class="wrap-contact100" style="width: 50%;height:50%;background-color: transparent!important;">
      <form class="contact100-form" id="form" action="http://localhost:5000/result" method = "POST"> 
        <input class="input100"type="hidden" name="number" value=1 id="number">
				<span class="contact100-form-title">
					Query Records
        </span>        
            <input class="button plus fa fa-paper-plane" type = "submit" value = "&#xf1d8 Submit" id="submit" style="margin-left:20%;">
						<input type='button' class="button plus fa fa-plus" value='&#xf067 Add' id='addButton'>
            <input type='button' class="button minus fa fa-minus" value='&#xf068 Remove' id='removeButton'>
            
            <br><br>
            <div id="TextBoxDiv1" style="width:100%;">
            <input class="input100" type="text" id='textbox1' name='textbox1' placeholder="Enter your name"><br>
            <input type="checkbox" name="interest1" value="phone_number">
            <label for="phone_number">Phone Number</label>

            <input type="checkbox" name="interest1" value="email_personal">
            <label for="email_personal">Email Personal</label>

            <input type="checkbox" name="interest1" value="email_institute">
            <label for="email_institute">Email Institute</label>

            <input type="checkbox" name="interest1" value="section">
            <label for="section">Section</label><br>
            </div>

          
			</form>
		</div>
	</div>

</body>
</html>

